name: Tests
on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

permissions:
  contents: read

jobs:
  test:
    name: Test - ${{ matrix.cases.label }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        cases:
          - label: "Stable"
            options:
              version: "stable"
              sentry_env: "goauthentik-action-setup-authentik-ci"
          - label: "Beta"
            options:
              version: "beta"
              sentry_env: "goauthentik-action-setup-authentik-ci"
          - label: "Blueprints + Wait"
            options:
              version: "stable"
              sentry_env: "goauthentik-action-setup-authentik-ci"
              blueprints_path: "./testing/blueprints"
              wait_command: |
                while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' http://localhost:9000/application/o/test/.well-known/openid-configuration)" != "200" ]]; do sleep 5; done
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - run: |
          echo "RUNNER_DEBUG=1" >> $GITHUB_ENV
      - uses: ./
        with: ${{ matrix.cases.options }}
