name: Tests
on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

permissions:
  contents: read

jobs:
  test:
    name: Test - ${{ matrix.cases.label }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        cases:
          - label: "Stable"
            options:
              version: "stable"
              sentry_env: "goauthentik-action-setup-authentik-ci"
          - label: "Beta"
            options:
              version: "beta"
              sentry_env: "goauthentik-action-setup-authentik-ci"
          - label: "Blueprints"
            options:
              version: "stable"
              sentry_env: "goauthentik-action-setup-authentik-ci"
              blueprints_path: "./testing/blueprints"
          - label: "Blueprints + Custom wait with auth"
            options:
              version: "stable"
              sentry_env: "goauthentik-action-setup-authentik-ci"
              blueprints_path: "./testing/blueprints"
              wait_command: |
                if [[ $RUNNER_DEBUG == '1' ]]; then
                    set -x
                fi
                while true; do
                    objs=$(curl -s -H "Authorization: Bearer ${AUTHENTIK_BOOTSTRAP_PASSWORD}" https://id.goauthentik.io/api/v3/providers/all/?search=test)
                    count=$(echo $output | jq .pagination.count)
                    if [[ "$count" == "1" ]]; then
                        exit 0
                    fi
                    sleep 5;
                done
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - run: |
          echo "RUNNER_DEBUG=1" >> $GITHUB_ENV
      - uses: ./
        with: ${{ matrix.cases.options }}
