name: Tests
on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

permissions:
  contents: read

jobs:
  test:
    name: Test - ${{ matrix.cases.label }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        cases:
          - label: "Stable"
            options:
              version: "stable"
              sentry_env: "goauthentik-action-setup-authentik-ci"
          - label: "Beta"
            options:
              version: "beta"
              sentry_env: "goauthentik-action-setup-authentik-ci"
          - label: "Blueprints + Custom wait"
            options:
              version: "stable"
              sentry_env: "goauthentik-action-setup-authentik-ci"
              blueprints_path: "./testing/blueprints"
              wait_url: http://localhost:9000/application/o/test/.well-known/openid-configuration
          - label: "Blueprints + External wait"
            options:
              version: "stable"
              sentry_env: "goauthentik-action-setup-authentik-ci"
              blueprints_path: "./testing/blueprints"
            test: |
              if [[ $RUNNER_DEBUG == '1' ]]; then
                  set -x
              fi
              while true; do
                  objs=$(curl -s -H "Authorization: Bearer ${AUTHENTIK_BOOTSTRAP_PASSWORD}" 'http://localhost:9000/api/v3/providers/all/?search=test')
                  echo $output
                  count=$(echo $output | jq .pagination.count)
                  if [[ "$count" == "1" ]]; then
                      exit 0
                  fi
                  sleep 5
              done
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - uses: ./
        id: setup
        with: ${{ matrix.cases.options }}
      - if: ${{ matrix.cases.test != '' }}
        timeout-minutes: 5
        env:
          AUTHENTIK_BOOTSTRAP_PASSWORD: ${{ steps.setup.outputs.admin_password }}
        run: ${{ matrix.cases.test }}
